*{
    margin: 0;
    padding: 0;
}
h1{
    color:rgb(53, 21, 119);
    text-align: center;
    font-family: Cambria;
    align-items: center;
    margin: auto;
}
.contenedor{
    display: grid; 
    position: relative;
    background-image: url(../imagenes/meditando.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    grid-template-areas:". h1 h1 ."
        ".contenedor_caja1 .contenedor_caja2 .contenedor_caja3 .contenedor_caja4";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 40% 40%;
    grid-gap: 10px;
}
.h1{
    grid-area: ". h1 h1 .";
}
.contenedor_caja1{
    grid-area: "contenedor_caja1";
    position: absolute;
    width: 299px;
    height: 273px;
    left: 35px;
    top: 177px;
    background: rgba(92, 88, 88, 0.5);
    background-image: url(../imagenes/Imagen_ygrande);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor_caja2{
    position: absolute;
    width: 299px;
    height: 273px;
    left: 383px;
    top: 237px;
    background: rgba(92, 88, 88, 0.5);
    background-image: url(../imagenes/yoga_3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor_caja3{
    position: absolute;
    width: 299px;
    height: 273px;
    left: 732px;
    top: 181px;
    background: rgba(92, 88, 88, 0.5);
    background-image: url(../imagenes/Yoga_adultos);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor_caja4{
    position: absolute;
    width: 299px;
    height: 273px;
    left: 1081px;
    top: 237px;
    background: rgba(92, 88, 88, 0.5);
    background-image: url(../imagenes/yoga_2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor_caja5{
    position: absolute;
    width: 186px;
    height: 185px;
    left: 50px;
    top: 698px;
    background: rgba(92, 88, 88, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-image: url(../imagenes/yoga.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor_caja6{
    position: absolute;
    width: 186px;
    height: 185px;
    left: 275px;
    top: 633px;
    background: rgba(92, 88, 88, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-image: url(../imagenes/yoga\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor_caja7{
    position: absolute;
    width: 186px;
    height: 185px;
    left: 510px;
    top: 698px;
    background: #C4C4C4;
    border-radius: 20px;
    background-image: url(../imagenes/yoga-for-children-CZUVAQL2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor_caja8{
    position: absolute;
    width: 186px;
    height: 185px;
    left: 748px;
    top: 633px;
    background: rgba(92, 88, 88, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-image: url(../imagenes/yoga-niños-madrid.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor_caja9{
    position: absolute;
    width: 186px;
    height: 185px;
    left: 987px;
    top: 714px;
    background: rgba(92, 88, 88, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-image: url(../imagenes/yoga-para-reforzar-la-funcion-cerebral-en-personas-mayores.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
.contenedor_caja10{
    position: absolute;
    width: 186px;
    height: 185px;
    left: 1231px;
    top: 633px;
    background: rgba(92, 88, 88, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-image: url(../imagenes/1536676631yoga-adultos-mayores-400x250-1-300x188.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
header{
    background-color: rgba(161, 27, 164, 0.50);
    padding: 0px;
    border:1px white ;
}
nav{
    display: inline;
    align-items:flex-start;
    justify-content: space-between;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    align-items:flex-start;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 10px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%), 0px 4px 4px rgb(0 0 0 / 5%);
}
ul li{
    list-style: none;
    padding: 10px;
}
ul li a{
    text-decoration: none;
    color:rgba(53, 21, 119, 100);
}
ul li a:hover{
    color: whitesmoke;
}
footer {
    display: flex;
    justify-content:space-around;
    align-items:center;
    padding: 0px 0px;
    background-color: rgba(161, 27, 164, 0.50);
}
footer a .instagram{
    height: 80px;
    border-radius: 25px;
    display: flex;
    justify-self:flex-end;
    text-align: center;
}   
footer a .wsp{
    height: 80px;
    border-radius: 25px;
    display: flex;
    justify-self:flex-end;
    text-align: center;
}
footer a .ytb{
    height: 80px;
    border-radius: 25px;
    display: flex;
    justify-self:flex-end;
    text-align: center;
}
footer a .mail{
    height: 80px;
    border-radius: 25px;
}
.horarioclases{
    background-repeat: no-repeat;
    background-size:cover;
    height: 84vh;
    width: 120vh;
    overflow: hidden;
}
p .direccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.column3{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.column3 .infoCreador{
    display: flex;
    justify-self:flex-end;
    justify-content:space-around;
}
h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ubicacion{
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    padding-bottom: 0%;
}
.horarios{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}
.info{
    font-family:sans-serif;
    justify-content: center;
    text-align: center;
    font-style: italic;
}
h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color:rgb(53, 21, 119);
    text-align: center;
    font-family: Cambria;
}
.contacto{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    color:rgb(53, 21, 119);
    text-align: center;
    font-family: Cambria;
}
.contactate{
    position: relative;
    background-image: url(../imagenes/Frases.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width: 100vw;
}
.listadoProfes {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(53, 21, 119);
    text-align: center;
    font-family: Cambria;
}
.elmail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(53, 21, 119);
    text-align: center;
    font-family: Cambria;
}
#plantilla{
    display: grid;
    grid-template-areas: 
    "logo . nav";
    align-items: center;
}
.logo{
    grid-area: logo;
}
.logo{
    height: 80px;
    width: 80px;
    border-radius: 25%;
}
#menu{
    grid-area: nav;
}
.yogaAdultos{
    position: absolute;
    width: 313px;
    height: 21px;
    left: 68px;
    top: 596px;
    text-decoration: none;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    /* or 83% */
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #351577;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}
.yogaMenores{
    position: absolute;
    width: 313px;
    height: 21px;
    left: 548px;
    top: 596px;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    /* or 83% */
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #351577;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.yogaMayores{
    position: absolute;
    width: 313px;
    height: 21px;
    left: 1051px;
    top: 586px;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #351577;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tabladehorarios{
    width: 90%;
    padding: 10px;
    background:rgba(166, 123, 235, 0.658);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 50px);
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px #333;
}
.tabla__horarios{
    grid-column-start: 2;
    grid-column-end: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
}
.tabla__horarios, .tabla_dias{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabla__dias{
    grid-column-start: 0;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
}